<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinochem.mapper.AcpsAcctMastMapper">
  <resultMap id="BaseResultMap" type="com.sinochem.domain.AcpsAcctMast">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mast_acct_num" jdbcType="VARCHAR" property="mastAcctNum" />
    <result column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="total_balance" jdbcType="DECIMAL" property="totalBalance" />
    <result column="available_balance" jdbcType="DECIMAL" property="availableBalance" />
    <result column="available_draw_balance" jdbcType="DECIMAL" property="availableDrawBalance" />
    <result column="frozen_balance" jdbcType="DECIMAL" property="frozenBalance" />
    <result column="pre_minus_amt" jdbcType="DECIMAL" property="preMinusAmt" />
    <result column="total_mod_count" jdbcType="INTEGER" property="totalModCount" />
    <result column="cum_dr_amt" jdbcType="DECIMAL" property="cumDrAmt" />
    <result column="cum_cr_amt" jdbcType="DECIMAL" property="cumCrAmt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="opt_id" jdbcType="BIGINT" property="optId" />
    <result column="last_user_id" jdbcType="VARCHAR" property="lastUserId" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="last_modify_date" jdbcType="TIMESTAMP" property="lastModifyDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mast_acct_num, cust_id, total_balance, available_balance, available_draw_balance, 
    frozen_balance, pre_minus_amt, total_mod_count, cum_dr_amt, cum_cr_amt, status, create_time, 
    update_time, opt_id, last_user_id, last_time, last_modify_date
  </sql>
  <select id="selectByExample" parameterType="com.sinochem.domain.AcpsAcctMastExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from acps_acct_mast
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acps_acct_mast
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from acps_acct_mast
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinochem.domain.AcpsAcctMastExample">
    delete from acps_acct_mast
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinochem.domain.AcpsAcctMast">
    insert into acps_acct_mast (id, mast_acct_num, cust_id, 
      total_balance, available_balance, available_draw_balance, 
      frozen_balance, pre_minus_amt, total_mod_count, 
      cum_dr_amt, cum_cr_amt, status, 
      create_time, update_time, opt_id, 
      last_user_id, last_time, last_modify_date
      )
    values (#{id,jdbcType=BIGINT}, #{mastAcctNum,jdbcType=VARCHAR}, #{custId,jdbcType=BIGINT}, 
      #{totalBalance,jdbcType=DECIMAL}, #{availableBalance,jdbcType=DECIMAL}, #{availableDrawBalance,jdbcType=DECIMAL}, 
      #{frozenBalance,jdbcType=DECIMAL}, #{preMinusAmt,jdbcType=DECIMAL}, #{totalModCount,jdbcType=INTEGER}, 
      #{cumDrAmt,jdbcType=DECIMAL}, #{cumCrAmt,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{optId,jdbcType=BIGINT}, 
      #{lastUserId,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, #{lastModifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.domain.AcpsAcctMast">
    insert into acps_acct_mast
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mastAcctNum != null">
        mast_acct_num,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="totalBalance != null">
        total_balance,
      </if>
      <if test="availableBalance != null">
        available_balance,
      </if>
      <if test="availableDrawBalance != null">
        available_draw_balance,
      </if>
      <if test="frozenBalance != null">
        frozen_balance,
      </if>
      <if test="preMinusAmt != null">
        pre_minus_amt,
      </if>
      <if test="totalModCount != null">
        total_mod_count,
      </if>
      <if test="cumDrAmt != null">
        cum_dr_amt,
      </if>
      <if test="cumCrAmt != null">
        cum_cr_amt,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="optId != null">
        opt_id,
      </if>
      <if test="lastUserId != null">
        last_user_id,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="lastModifyDate != null">
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mastAcctNum != null">
        #{mastAcctNum,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="totalBalance != null">
        #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="availableBalance != null">
        #{availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="availableDrawBalance != null">
        #{availableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="frozenBalance != null">
        #{frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="preMinusAmt != null">
        #{preMinusAmt,jdbcType=DECIMAL},
      </if>
      <if test="totalModCount != null">
        #{totalModCount,jdbcType=INTEGER},
      </if>
      <if test="cumDrAmt != null">
        #{cumDrAmt,jdbcType=DECIMAL},
      </if>
      <if test="cumCrAmt != null">
        #{cumCrAmt,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optId != null">
        #{optId,jdbcType=BIGINT},
      </if>
      <if test="lastUserId != null">
        #{lastUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null">
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinochem.domain.AcpsAcctMastExample" resultType="java.lang.Integer">
    select count(*) from acps_acct_mast
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update acps_acct_mast
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mastAcctNum != null">
        mast_acct_num = #{record.mastAcctNum,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null">
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.totalBalance != null">
        total_balance = #{record.totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.availableBalance != null">
        available_balance = #{record.availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.availableDrawBalance != null">
        available_draw_balance = #{record.availableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.frozenBalance != null">
        frozen_balance = #{record.frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.preMinusAmt != null">
        pre_minus_amt = #{record.preMinusAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.totalModCount != null">
        total_mod_count = #{record.totalModCount,jdbcType=INTEGER},
      </if>
      <if test="record.cumDrAmt != null">
        cum_dr_amt = #{record.cumDrAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.cumCrAmt != null">
        cum_cr_amt = #{record.cumCrAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.optId != null">
        opt_id = #{record.optId,jdbcType=BIGINT},
      </if>
      <if test="record.lastUserId != null">
        last_user_id = #{record.lastUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null">
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyDate != null">
        last_modify_date = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update acps_acct_mast
    set id = #{record.id,jdbcType=BIGINT},
      mast_acct_num = #{record.mastAcctNum,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=BIGINT},
      total_balance = #{record.totalBalance,jdbcType=DECIMAL},
      available_balance = #{record.availableBalance,jdbcType=DECIMAL},
      available_draw_balance = #{record.availableDrawBalance,jdbcType=DECIMAL},
      frozen_balance = #{record.frozenBalance,jdbcType=DECIMAL},
      pre_minus_amt = #{record.preMinusAmt,jdbcType=DECIMAL},
      total_mod_count = #{record.totalModCount,jdbcType=INTEGER},
      cum_dr_amt = #{record.cumDrAmt,jdbcType=DECIMAL},
      cum_cr_amt = #{record.cumCrAmt,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      opt_id = #{record.optId,jdbcType=BIGINT},
      last_user_id = #{record.lastUserId,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      last_modify_date = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.domain.AcpsAcctMast">
    update acps_acct_mast
    <set>
      <if test="mastAcctNum != null">
        mast_acct_num = #{mastAcctNum,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="totalBalance != null">
        total_balance = #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="availableBalance != null">
        available_balance = #{availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="availableDrawBalance != null">
        available_draw_balance = #{availableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="frozenBalance != null">
        frozen_balance = #{frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="preMinusAmt != null">
        pre_minus_amt = #{preMinusAmt,jdbcType=DECIMAL},
      </if>
      <if test="totalModCount != null">
        total_mod_count = #{totalModCount,jdbcType=INTEGER},
      </if>
      <if test="cumDrAmt != null">
        cum_dr_amt = #{cumDrAmt,jdbcType=DECIMAL},
      </if>
      <if test="cumCrAmt != null">
        cum_cr_amt = #{cumCrAmt,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optId != null">
        opt_id = #{optId,jdbcType=BIGINT},
      </if>
      <if test="lastUserId != null">
        last_user_id = #{lastUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null">
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.domain.AcpsAcctMast">
    update acps_acct_mast
    set mast_acct_num = #{mastAcctNum,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=BIGINT},
      total_balance = #{totalBalance,jdbcType=DECIMAL},
      available_balance = #{availableBalance,jdbcType=DECIMAL},
      available_draw_balance = #{availableDrawBalance,jdbcType=DECIMAL},
      frozen_balance = #{frozenBalance,jdbcType=DECIMAL},
      pre_minus_amt = #{preMinusAmt,jdbcType=DECIMAL},
      total_mod_count = #{totalModCount,jdbcType=INTEGER},
      cum_dr_amt = #{cumDrAmt,jdbcType=DECIMAL},
      cum_cr_amt = #{cumCrAmt,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      opt_id = #{optId,jdbcType=BIGINT},
      last_user_id = #{lastUserId,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>