<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinochem.mapper.BillInternalBalanceMistakeMapper">
  <resultMap id="BaseResultMap" type="com.sinochem.domain.BillInternalBalanceMistake">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mast_acct_num" jdbcType="VARCHAR" property="mastAcctNum" />
    <result column="acct_num" jdbcType="VARCHAR" property="acctNum" />
    <result column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="acct_name" jdbcType="VARCHAR" property="acctName" />
    <result column="acct_type" jdbcType="INTEGER" property="acctType" />
    <result column="internal_total_balance" jdbcType="DECIMAL" property="internalTotalBalance" />
    <result column="acps_total_balance" jdbcType="DECIMAL" property="acpsTotalBalance" />
    <result column="internal_available_balance" jdbcType="DECIMAL" property="internalAvailableBalance" />
    <result column="acps_available_balance" jdbcType="DECIMAL" property="acpsAvailableBalance" />
    <result column="internal_available_draw_balance" jdbcType="DECIMAL" property="internalAvailableDrawBalance" />
    <result column="acps_available_draw_balance" jdbcType="DECIMAL" property="acpsAvailableDrawBalance" />
    <result column="internal_frozen_balance" jdbcType="DECIMAL" property="internalFrozenBalance" />
    <result column="acps_frozen_balance" jdbcType="DECIMAL" property="acpsFrozenBalance" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="opt_id" jdbcType="BIGINT" property="optId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mast_acct_num, acct_num, cust_id, acct_name, acct_type, internal_total_balance, 
    acps_total_balance, internal_available_balance, acps_available_balance, internal_available_draw_balance, 
    acps_available_draw_balance, internal_frozen_balance, acps_frozen_balance, check_time, 
    check_status, create_time, update_time, remark, opt_id
  </sql>
  <select id="selectByExample" parameterType="com.sinochem.domain.BillInternalBalanceMistakeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill_internal_balance_mistake
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill_internal_balance_mistake
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bill_internal_balance_mistake
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinochem.domain.BillInternalBalanceMistakeExample">
    delete from bill_internal_balance_mistake
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinochem.domain.BillInternalBalanceMistake">
    insert into bill_internal_balance_mistake (id, mast_acct_num, acct_num, 
      cust_id, acct_name, acct_type, 
      internal_total_balance, acps_total_balance, 
      internal_available_balance, acps_available_balance, 
      internal_available_draw_balance, acps_available_draw_balance, 
      internal_frozen_balance, acps_frozen_balance, 
      check_time, check_status, create_time, 
      update_time, remark, opt_id
      )
    values (#{id,jdbcType=BIGINT}, #{mastAcctNum,jdbcType=VARCHAR}, #{acctNum,jdbcType=VARCHAR}, 
      #{custId,jdbcType=BIGINT}, #{acctName,jdbcType=VARCHAR}, #{acctType,jdbcType=INTEGER}, 
      #{internalTotalBalance,jdbcType=DECIMAL}, #{acpsTotalBalance,jdbcType=DECIMAL}, 
      #{internalAvailableBalance,jdbcType=DECIMAL}, #{acpsAvailableBalance,jdbcType=DECIMAL}, 
      #{internalAvailableDrawBalance,jdbcType=DECIMAL}, #{acpsAvailableDrawBalance,jdbcType=DECIMAL}, 
      #{internalFrozenBalance,jdbcType=DECIMAL}, #{acpsFrozenBalance,jdbcType=DECIMAL}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{checkStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{optId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.domain.BillInternalBalanceMistake">
    insert into bill_internal_balance_mistake
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mastAcctNum != null">
        mast_acct_num,
      </if>
      <if test="acctNum != null">
        acct_num,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="acctName != null">
        acct_name,
      </if>
      <if test="acctType != null">
        acct_type,
      </if>
      <if test="internalTotalBalance != null">
        internal_total_balance,
      </if>
      <if test="acpsTotalBalance != null">
        acps_total_balance,
      </if>
      <if test="internalAvailableBalance != null">
        internal_available_balance,
      </if>
      <if test="acpsAvailableBalance != null">
        acps_available_balance,
      </if>
      <if test="internalAvailableDrawBalance != null">
        internal_available_draw_balance,
      </if>
      <if test="acpsAvailableDrawBalance != null">
        acps_available_draw_balance,
      </if>
      <if test="internalFrozenBalance != null">
        internal_frozen_balance,
      </if>
      <if test="acpsFrozenBalance != null">
        acps_frozen_balance,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="optId != null">
        opt_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mastAcctNum != null">
        #{mastAcctNum,jdbcType=VARCHAR},
      </if>
      <if test="acctNum != null">
        #{acctNum,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="acctName != null">
        #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null">
        #{acctType,jdbcType=INTEGER},
      </if>
      <if test="internalTotalBalance != null">
        #{internalTotalBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsTotalBalance != null">
        #{acpsTotalBalance,jdbcType=DECIMAL},
      </if>
      <if test="internalAvailableBalance != null">
        #{internalAvailableBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsAvailableBalance != null">
        #{acpsAvailableBalance,jdbcType=DECIMAL},
      </if>
      <if test="internalAvailableDrawBalance != null">
        #{internalAvailableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsAvailableDrawBalance != null">
        #{acpsAvailableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="internalFrozenBalance != null">
        #{internalFrozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsFrozenBalance != null">
        #{acpsFrozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="optId != null">
        #{optId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinochem.domain.BillInternalBalanceMistakeExample" resultType="java.lang.Integer">
    select count(*) from bill_internal_balance_mistake
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bill_internal_balance_mistake
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mastAcctNum != null">
        mast_acct_num = #{record.mastAcctNum,jdbcType=VARCHAR},
      </if>
      <if test="record.acctNum != null">
        acct_num = #{record.acctNum,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null">
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.acctName != null">
        acct_name = #{record.acctName,jdbcType=VARCHAR},
      </if>
      <if test="record.acctType != null">
        acct_type = #{record.acctType,jdbcType=INTEGER},
      </if>
      <if test="record.internalTotalBalance != null">
        internal_total_balance = #{record.internalTotalBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.acpsTotalBalance != null">
        acps_total_balance = #{record.acpsTotalBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.internalAvailableBalance != null">
        internal_available_balance = #{record.internalAvailableBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.acpsAvailableBalance != null">
        acps_available_balance = #{record.acpsAvailableBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.internalAvailableDrawBalance != null">
        internal_available_draw_balance = #{record.internalAvailableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.acpsAvailableDrawBalance != null">
        acps_available_draw_balance = #{record.acpsAvailableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.internalFrozenBalance != null">
        internal_frozen_balance = #{record.internalFrozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.acpsFrozenBalance != null">
        acps_frozen_balance = #{record.acpsFrozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.checkTime != null">
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkStatus != null">
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.optId != null">
        opt_id = #{record.optId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bill_internal_balance_mistake
    set id = #{record.id,jdbcType=BIGINT},
      mast_acct_num = #{record.mastAcctNum,jdbcType=VARCHAR},
      acct_num = #{record.acctNum,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=BIGINT},
      acct_name = #{record.acctName,jdbcType=VARCHAR},
      acct_type = #{record.acctType,jdbcType=INTEGER},
      internal_total_balance = #{record.internalTotalBalance,jdbcType=DECIMAL},
      acps_total_balance = #{record.acpsTotalBalance,jdbcType=DECIMAL},
      internal_available_balance = #{record.internalAvailableBalance,jdbcType=DECIMAL},
      acps_available_balance = #{record.acpsAvailableBalance,jdbcType=DECIMAL},
      internal_available_draw_balance = #{record.internalAvailableDrawBalance,jdbcType=DECIMAL},
      acps_available_draw_balance = #{record.acpsAvailableDrawBalance,jdbcType=DECIMAL},
      internal_frozen_balance = #{record.internalFrozenBalance,jdbcType=DECIMAL},
      acps_frozen_balance = #{record.acpsFrozenBalance,jdbcType=DECIMAL},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      opt_id = #{record.optId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.domain.BillInternalBalanceMistake">
    update bill_internal_balance_mistake
    <set>
      <if test="mastAcctNum != null">
        mast_acct_num = #{mastAcctNum,jdbcType=VARCHAR},
      </if>
      <if test="acctNum != null">
        acct_num = #{acctNum,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="acctName != null">
        acct_name = #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null">
        acct_type = #{acctType,jdbcType=INTEGER},
      </if>
      <if test="internalTotalBalance != null">
        internal_total_balance = #{internalTotalBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsTotalBalance != null">
        acps_total_balance = #{acpsTotalBalance,jdbcType=DECIMAL},
      </if>
      <if test="internalAvailableBalance != null">
        internal_available_balance = #{internalAvailableBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsAvailableBalance != null">
        acps_available_balance = #{acpsAvailableBalance,jdbcType=DECIMAL},
      </if>
      <if test="internalAvailableDrawBalance != null">
        internal_available_draw_balance = #{internalAvailableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsAvailableDrawBalance != null">
        acps_available_draw_balance = #{acpsAvailableDrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="internalFrozenBalance != null">
        internal_frozen_balance = #{internalFrozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="acpsFrozenBalance != null">
        acps_frozen_balance = #{acpsFrozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="optId != null">
        opt_id = #{optId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.domain.BillInternalBalanceMistake">
    update bill_internal_balance_mistake
    set mast_acct_num = #{mastAcctNum,jdbcType=VARCHAR},
      acct_num = #{acctNum,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=BIGINT},
      acct_name = #{acctName,jdbcType=VARCHAR},
      acct_type = #{acctType,jdbcType=INTEGER},
      internal_total_balance = #{internalTotalBalance,jdbcType=DECIMAL},
      acps_total_balance = #{acpsTotalBalance,jdbcType=DECIMAL},
      internal_available_balance = #{internalAvailableBalance,jdbcType=DECIMAL},
      acps_available_balance = #{acpsAvailableBalance,jdbcType=DECIMAL},
      internal_available_draw_balance = #{internalAvailableDrawBalance,jdbcType=DECIMAL},
      acps_available_draw_balance = #{acpsAvailableDrawBalance,jdbcType=DECIMAL},
      internal_frozen_balance = #{internalFrozenBalance,jdbcType=DECIMAL},
      acps_frozen_balance = #{acpsFrozenBalance,jdbcType=DECIMAL},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_status = #{checkStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      opt_id = #{optId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>